.me {
    display: inline-block;
}

.canvas {
    display: inline-block;
}

.you {
    display: inline-block;
}

/* body {
    background-color: aqua;
} */

.span {
    background-color: aqua;
    padding: 10px 10px 10px 10px;
}
