* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.me {
    display: inline-block;
    /* background: linear-gradient(138deg, rgba(73,248,255,1) 0%, rgba(225,243,255,1) 50%, rgba(0,57,210,1) 100%); */
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    width: 300px;
    position: absolute;
    top: 5%;
    left: 2%;
    cursor: pointer;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}
.me:hover {
    transform: translateY(-2px);
    /* transform: scale(1.1); */
    box-shadow: 0px 10px 20px 2px rgba(0, 9, 128, 0.25);
    background: linear-gradient(142deg, rgba(238, 174, 202, 0.1) 0%, rgba(56, 146, 255, 0.1) 100%);
}
.me #name, #city, #search-input {
    outline: none;
    border: 2px solid rgba(207, 207, 207, 0.664);
    border-radius: 6px;
    text-align: center;
    width: 60%;
    font-size: medium;
    padding: 5px 0 5px 0;

}
.me #city {
    padding: 0;
    margin-top: 10px;
    font-size: medium;
}

.me .search-bar {
    background-color: rgb(0, 119, 255);
    margin-top: 50px;
    border: 2px solid rgb(207, 207, 207);
    border-radius: 10px;
    width: 100%;
}
.me #search-input {
    width: 85%;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.me .search-bar i {
   color: aliceblue;
}


.wrap-result {
    display: inline-block;
    background-color: rgba(127, 255, 212, 0);
    width: 400px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 2%;
    border-radius: 20px;
    padding: 20px 20px 20px;
}
.wrap-result .hoppies {
    background-color: rgba(0, 0, 255, 0);
    width: fit-content;
}



.canvas {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-40%);
    z-index: -10;
}

.you {
    display: inline-block;
    background-color: rgb(36, 66, 176);
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    right: 2%;
    bottom: 5%;
}


.span {
    background: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
    padding: 10px 10px 10px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 10px;
    font-size: small;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    user-select: none;
}
.span:hover {
    transform: scale(1.2);
    box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
}


.user-box {
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 5px 0 5px 0;
    width: 60%;
}